
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#/">Home</a>
                    </li>
                    <span class="px-2">&#10095;</span>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row justify-content-center py-5">
            <!-- Map Column -->
            <div class="col-md-8">
                
                <img class="img-fluid" src="images/websitebanner.png" alt="">
            
            </div>
            <!-- Contact Details Column -->
            <!-- <div class="col-md-4">
                <h3>Contact Details</h3>
                <p>
                    3955 Dalwood Drive<br>Suwannee, GA 30024<br>
                </p>
                <p><i class="fa fa-phone"></i> 
                    <abbr title="Phone">P</abbr>: (404) 217-2306</p>
                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email">E</abbr>: <a href="mailto:name@example.com">metroairflow@gmail.com</a>
                </p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">H</abbr>: Monday - Friday: 8:00 AM to 8:00 PM</p>
            </div> -->
        </div>
        <!-- /.row -->
        <div class="row about-content">
            
            <div class="col-md col-12 mb-md-0 mb-1  text-center">
                <h1 class="text-danger">&#9819;</h1>
                <h1> <small>Our Mission</small></h1>
                <p>Provide quality, timely, and honest HVAC Services in Metro Atlanta</p>
            </div>
            <div class="col-md col-12 mb-md-0 mb-1  text-center">
                <h1 class="text-success">&#9851;</h1>
                <h1><small>Our Strategy</small></h1>
                <p>Provide best-in-class service at an affordable price</p>
            </div>
            <div class="col-md col-12 mb-md-0 mb-1  text-center">
                <h1 class="text-primary">&#9873;</h1>
                <h1><small>Our Ambitions</small></h1>
                <p>Help customers make informed decisions to resolve HVAC needs</p>
            </div>
        </div>
        <hr>
    </div>