<!-- Page Content -->

<div class="container">
    <div class="row">
        <div class="col-lg-12 p-0">
            <img class="img-fluid" src="images/banner.jpg" alt="">
        </div>
    </div>
    <!-- Features Section -->
    <div class="row">
        <div class="col-sm-6">
            <br><br>
            <p>For close to a decade, Atlanta Metro Airflow Service has provided:</p>
            <ul>
                <li>Prompt</li>
                <li>Courteous</li>
                <li>Friendly</li>
                <li>Reliable</li>
            </ul>
            <p>service to its customers. As a local business, the trusty technicians at Atlanta Metro Airflow know your
                cooling and heating needs in Metro Atlanta! Whether you live in Roswell, Marietta, or Atlanta, we are
                here to serve you.</p>
        </div>
        <div class="col-sm-6">
            <div class="mt-5 d-flex flex-column align-items-end">
                <img class="img-fluid mb-1" src="images/websitebanner.png" alt="">
                <a href="tel://1-404-217-2306">
                    <p class="h5">Call Today: (404) 217-2306</p>
                </a>
            </div>

        </div>
    </div>

    <!-- Marketing Icons Section -->
    <div class="row my-5">
        <div class="col-md-4">
            <div class="card mb-md-0 mb-3 box-shadow">
                <div class="card-header bg-success">
                    <h5 class="text-white m-0"><i class="fa fa-calculator"></i><span class="pl-2">Schedule Estimate</span>
                    </h5>
                </div>
                <div class="card-body align-items-end flex-column">
                    <p class="text-left">To Replace Your Heating and Cooling System</p>
                    <div class="w-100 text-right">
                        <a href="#/services" class="btn btn-default d-inline-block">Request</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-md-0 mb-3 box-shadow">
                <div class="card-header bg-success">
                    <h5 class="text-white m-0"><i class="fa fa-wrench"></i><span class="pl-2">Schedule Repair</span>
                    </h5>
                </div>
                <div class="card-body align-items-end flex-column">
                    <p class="text-left">To Repair Your Heating and Cooling System</p>
                    <div class="w-100 text-right">
                        <a href="#/services" class="btn btn-default d-inline-block">Request</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-md-0 mb-3 box-shadow">
                <div class="card-header bg-success">
                    <h5 class="text-white m-0"><i class="fa fa-stethoscope"></i><span class="pl-2">Schedule Maintenance</span>
                    </h5>
                </div>
                <div class="card-body align-items-end flex-column">
                    <p class="text-left">To Maintain Your Heating and Cooling System</p>
                    <div class="w-100 text-right">
                        <a href="#/services" class="btn btn-default d-inline-block">Request</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr>
</div>