<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Metro Airflow Site Manager
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#/login" class="list-group-item">Home</a>
                    <a href="#/installinvoice" class="list-group-item">Create Installation Invoice</a>
                    <a href="#/serviceinvoice" class="list-group-item">Create Service Invoice</a>
                    <a href="#/reviewinvoice" class="list-group-item">Review Past Invoices</a>
                    <a href="#/managereview" class="list-group-item">Manage Reviews</a>
                    <a href="#/logout" class="list-group-item">Logout</a>
                </div>
            </div>
            <!-- Content Column -->
            <div class="col-md-9">
                <h2>Welcome Administrator</h2>
                <p>Access Site related data through Side Bar. 
                    <ul>
                        <li>Create New Installation Invoice.</li>
                        <li>Create Repair and Maintainence Invoice.</li>
                        <li>Review Past Invoices.</li>
                        <li>Manage Reviews.</li>
                        <li>Review Reviews.</li>
                    </ul>
                </p>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>
    <!-- /.container -->

