<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Frequently Asked Questions
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <span class="px-2">&#10095;</span>
                <li class="active">FAQ</li>
            </ol>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-12 my-3">
            <h2>What Services Do We Offer?</h2>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>AC Service</h4>
                    <p>Tune-up, Replacement, Repair, Energy Saving Installations</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-fire fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>Heating Service</h4>
                    <p>Tune-up, Replacement, Repair, Energy Saving Installations</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>Air Quality Service</h4>
                    <p>Duct Cleaning, System Maintenance, Filter Changes</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h4>Express HVAC Service</h4>
                    <p>HVAC Installation, Green Energy Solutions</p>
                </div>
            </div>
        </div>
    </div>



    <hr>
    <!-- Content Row -->
    <div class="row my-4">
        <div class="col-lg-12">

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Why Choose Atlanta Metro Airflow Service?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Atlanta Metro Airflow Service is a local Metro-Atlanta company. Our NATE-Certified
                            specialists and fully-stocked service vehicles are located only minutes away from your place
                            of residence or business. Call us 7 days a week for emergency service or same-day heating
                            repair. Our technicians have the skills and expertise to fix any type of cooling or heating
                            problem and get your system in excellent working order, so you can relax and focus on the
                            things that matter!
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2"
                                aria-expanded="true" aria-controls="collapseOne">
                                When Should I Replace My Existing System?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>If your furnace or heat pump is nearing the end of its lifespan, you might want to
                                consider replacement sooner rather than later. It’s easier and cheaper to replace a
                                furnace during the warmer months than waiting until it breaks down in the middle of
                                January.

                                Our experienced heating contractors can install a new heating system with minimal
                                disruption and without making a mess. Here are some indications that it might be time
                                for heater replacement:</p>
                            <ul>
                                <li>Furnace or heat pump needs frequent repairs</li>
                                <li>Energy bills are increasing every month</li>
                                <li>House is dry and dusty in winter</li>
                                <li>Indoor air temperature does not match the thermostat setting</li>
                                <li>Some rooms are too cold; other rooms are too hot</li>
                                <li>Furnace is over 15 years old</li>
                                <li>Heat pump is over 10 years old</li>
                                <li>Furnace or heat pump has not been properly maintained</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3"
                                aria-expanded="true" aria-controls="collapseOne">
                                When Should I Repair My Existing System?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>Heat pump repair if you notice any of the following symptoms:</p>
                            <ul>
                                <li>Heat pump or furnace is making strange noises</li>
                                <li>Furnace burner flame is yellow instead of blue</li>
                                <li>You or your family have flu-like symptoms</li>
                            </ul>
                            <p>Strange noises in any kind of heating system are almost always a cause for concern,
                                whereas a yellow furnace flame or unexplained flu-like symptoms can signal a carbon
                                monoxide leak.</p>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4"
                                aria-expanded="true" aria-controls="collapseOne">
                                Why Should I Perform Preventative Maintenance?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>Whether your heater is new or getting on in years, it should be inspected and maintained
                                annually, preferably before the cold weather kicks in. Annual service will save money on
                                repair bills, minimize breakdowns and ensure that your heating system is operating
                                safely. A well-maintained heating system will function more efficiently, consume less
                                energy, cost less to operate and have a longer lifespan.</p>
                        </div>
                    </div>
                </div>
                <!-- 5 -->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5"
                                aria-expanded="true" aria-controls="collapseOne">
                                Should I Upgrade My Existing System for A Energy Saving
                                Installation?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>Replacing your existing furnace or heat pump can save you money over time. A new heater with
                                a programmable thermostat, or a zoned system that allows you to heat only the rooms you use
                                can significantly reduce monthly energy costs. Together with the savings you’ll see every
                                month with a highly efficient furnace or heat pump, a new heater can eventually pay for
                                itself.
    
                                The heat pumps and furnaces of today are highly evolved systems that generate more heat
                                while consuming less energy. It’s not unusual to see substantial reductions in power bills
                                immediately after an energy-efficient heating replacement.</p>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse6"
                                aria-expanded="true" aria-controls="collapseOne">
                                Should I Be Concerned About Air Quality?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse6" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>According to the EPA, as much as 60% of the air that enters your home comes from your
                                basement or crawl space. If your basement or crawl space has water or moisture issues,
                                chances are you have indoor air quality problems too. Mold and other spores grow readily
                                in a high moisture environment and those spores then travel to your living areas as air
                                naturally rises from your basement or crawl space to the upper levels of your home.

                                By waterproofing your basement or crawl space, you can alleviate the issue of moisture
                                and wetness below. If you want to take that one step further, you can install an indoor
                                air quality system to assure that the air that you are breathing in your home is pure,
                                clean and healthier than it is now.</p>
                        </div>
                    </div>
                </div>
                <!-- 6 -->
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <hr>
</div>
<!-- /.container -->