<div class="container">
    <div class="row">
        <div class="login col-12 d-flex justify-content-center">
            <div class="col-12 col-sm-6 col-md-5 p-0">
                <div loader working="loading" disable-background="true"></div>
                <div class="account-wall p-4 px-2 pb-5">
                    <form class="form-signin">
                        <input type="text" class="form-control" placeholder="Username" required autofocus
                            ng-model="user">
                        <input type="password" class="form-control" placeholder="Password" required ng-model="pass">
                        <button class="btn btn-lg btn-primary btn-block" ng-click="submit()">
                            Sign in</button>
                        <label class="checkbox pull-left mt-2">
                            <input type="checkbox" value="remember-me" ng-model="remember">
                            Remember me
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>